</body>
<footer class="fixed-bottom text-center">
  <div class="container">
    <p class="text-muted">
      Koji Higashi, Yuya Ogawa, Kishin Kato, 2020. <a href="https://github.com/katokishin/lnbook">GitHub</a>.
    </p>
  </div>
</footer>
</html>