<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/navbar.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pt-5">
          <h1>How LNBook works</h1>
          <p>
            Description
          </p>
          <h1>Using the API</h1>
          <p>
            Curl /api for a list of API commands. Curl /api/[twitter screen_name] for a list of accounts 
            and LNURLs belonging to that user on record with us. <br>
            NOTE: Do not include the '@' in the query.
          </p>
          <p>
            Curl /api/getInvoice/[twitter screen_name] to get new invoices from Tippin.me in addition to the above.
            This takes somewhat more time.
          </p>
        </div>
      </div>
    </div>

<%- include('includes/end.ejs') %>