<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/navbar.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pt-5 ma-3">
          <h1>The Lightning Network Phonebook is here!</h1>
          <h2>Want to send sats?</h2>
          <p>
            Look up people's lapp accounts (LNURLs) and get invoices on LNBook!
            We are a one-stop shop for those who want to tip to Twitter personalities.
          </p>
          <h2>Want to receive sats?</h2>
          <p>
            Sign up to LNBook, associate your lapp accounts (LNURLs), and let us help you get paid!
          </p>
          <h2>Lapp operator?</h2>
          <p>
            LNBook enables developers to create non-custodial apps or automatic withdrawal 
            solutions by allowing users to specify other lapps (LNURLs) to withdraw to / receive at. 
            Get your lapp listed - contact us!
          </p>
        </div>
      </div>
    </div>

<%- include('includes/end.ejs') %>