<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/navbar.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pt-5">
          <div class="jumbotron">
            <h1 class="display-3">LNBook: The Lapp Phonebook</h1>
            <p class="lead">LNBook allows users to request a Lightning Invoice for specific services used by other users.</p>
            <hr class="my-4">
            <p>Look up other users to get invoices, or sign up to get listed on LNBook. Currently supporting Tippin.me, Spotlight.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/auth/twitter" role="button">Log in with Twitter</a>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>Look up an LNBook user by Twitter @username:</h2>
          <form action="" method="GET">
            <fieldset>
              <div class="form-group w-50">
                <div class="input-group mb-3">
                  <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                  <input type="text" id="username_input" class="form-control" placeholder="username">
                </div>
                <button type="submit" class="submit btn btn-primary">Look up</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <script>
      $('.submit').click(function() {
        $(this).parents('form').attr('action', ('/users/'+$('#username_input').val()));
        $(this).parents('form').submit();
      });
    </script>

<%- include('includes/end.ejs') %>