<%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/navbar.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 pt-5">
        <h1>Log in</h1>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/auth/twitter" role="button">Log in with Twitter</a>
        </p>
      </div>
    </div>
  </div>

<%- include('includes/end.ejs') %>